<div class="header">
    <section class="side">
        <a href="/"><img class="logo" src="./assets/logo.svg" alt="logo"/></a>
    </section>
    <section class="side">
        <nav class="nav__links">
            <a class="link" href="/login">Login</a>
            <a class="link border" href="/register">Register</a>
        </nav>
    </section>
</div>
