.block__wrapper[b-xtc4vj5fbf]{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.info__block[b-xtc4vj5fbf]{
    /*border: 1px solid red;*/
    width: 48%;
}

.subtitle[b-xtc4vj5fbf]{
    margin-bottom: 5px;
}
