<div class="user__info">
    <h1 class="title">Account information</h1>
    <div class="block__wrapper">
        <div class="info__block">
            <h5 class="subtitle">First Name</h5>
            <input class="input" placeholder="First Name"/>
        </div>
        <div class="info__block">
            <h5 class="subtitle">Second Name</h5>
            <input class="input" placeholder="Second Name"/>
        </div>
    </div>
    <div class="block__wrapper">
        <div class="info__block">
            <h5 class="subtitle">Email</h5>
            <input class="input" type="email" value="email@email.cum" disabled />
        </div>
        <div class="info__block">
            <h5 class="subtitle">Birthday</h5>
            <input class="input" type="date" placeholder="Birthday" value="0909-09-09" disabled />
        </div>
    </div>
    <div class="block__wrapper">
        <div class="info__block">
            <h5 class="subtitle">New Password</h5>
            <input class="input" placeholder="New Password"/>
        </div>
        <div class="info__block">
            <h5 class="subtitle">Confirm Password</h5>
            <input class="input" placeholder="Confirm Password"/>
        </div>
    </div>
    <button type="submit" class="action__button">Update Data</button>
</div>