<h4 class="title">Transfer</h4>
<div class="block__wrapper">
    <input class="input" type="text" placeholder="Type a email of user" />
    <input class="input" type="number" placeholder="Summa..." />
    <select class="input" name="currency" >
        <option value="default" disabled>Select the currency:</option>
        <option value="usd">USD</option>
        <option value="eur">EUR</option>
        <option value="pln">PLN</option>
        <option value="usd">RUB</option>
    </select>
    <button class="action__button" type="submit">Transfer</button>
</div>