<h4 class="title">Balance in all available currencies</h4>
<div class="block__wrapper">
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    <div class="info__block">
        <h5 class="title">300 $</h5>
    </div>
    


</div>