@page "/contacts"

<PageTitle>UFOPay.io - Contacts</PageTitle>

<HeadContent>
    <link rel="stylesheet" type="text/css" href="styles/docs.css"/>
</HeadContent>

<div class="main">
    <h2 class="description">Email: <span style="color: #4d6cfa;">a2pmsg@outlook.com</span></h2>
    <h2 class="description">Facebook: <a class="cloudflare__link" href="https://www.facebook.com/profile.php?id=100082911092979" target="_blank">Włodzimierz Modrzewski</a></h2>
</div>