@page "/login"

<PageTitle>UFOPay 2.0 - Login</PageTitle>

<div class="main">
    <form class="form" action="#">
        <div class="form__block">
            <h5 class="title">Email</h5>
            <input class="input" type="email"/>
        </div>
        <div class="form__block">
            <h5 class="title">Password</h5>
            <input class="input" type="password"/>
        </div>
        <div class="form__block">
            <h5 class="title">Keep login <input class="input checkbox" type="checkbox"/></h5>
        </div>
        <button type="submit" class="action__button">Login</button>
    </form>
</div>