@page "/register"

<PageTitle>UFOPay 2.0 - Register</PageTitle>

<div class="main">
    <form class="form" action="#">
        <div class="form__block">
            <h5 class="title">First name</h5>
            <input class="input" type="text"/>
        </div>
        <div class="form__block">
            <h5 class="title">Second name</h5>
            <input class="input" type="text"/>
        </div>
        <div class="form__block">
            <h5 class="title">Birthday</h5>
            <input class="input" type="date"/>
        </div>
        <div class="form__block">
            <h5 class="title">Email</h5>
            <input class="input" type="email"/>
        </div>
        <div class="form__block">
            <h5 class="title">Password</h5>
            <input class="input" type="password"/>
            <p class="input__subtitle">The minimum password length is 8 characters.</p>
        </div>
        <div class="form__block">
            <h5 class="title">Confirm password</h5>
            <input class="input" type="password"/>
        </div>
        <div class="form__block">
            <h5 class="title">I am 13 years of age or older and agree to the terms of the User Agreement and the UFOPay Privacy Policy <input class="input checkbox" type="checkbox"/></h5>
        </div>
        <div class="form__block">
            <h5 class="title">Keep login <input class="input checkbox" type="checkbox"/></h5>
        </div>
        <button type="submit" class="action__button">Register</button>
    </form>
</div>