<section class="info__container">
    <div class="title__wrapper">
        <h4 class="title">Accept and send payments <span class="blue__text">all over the world</span></h4>
        <h5 class="subtitle">Receive payments on the website, social networks or instant messengers from any country.</h5>
        <a href="/register" class="link border">Start accepting payments</a>
    </div>
    <img class="asset__image" src="assets/wc_img.svg" alt="asset"/>
</section>